.user-section__profile_container{
  position: absolute;
  display: inline-block;
  top: 9%;
  width: 5%;
  right: 2%;
}

.user-section__icon{
  transform: scale(2.5);
  margin-right: 5rem;
  color: #fff;
  position: absolute;
}