.navbar__container{
  background-color: #161B22;
  width: 100%;
}

.navbar__logo_container{
  display: inline-block;
  margin: 2%;
}

.navbar__navlink_container{
  display: inline-block;
  position: absolute;
  top: 9%;
  margin-left: 5%;
}

.navbar__nav-item{
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-left: 4rem;
}